body {
    width: 900px;
    margin: auto;
}
article {
    width: 600px;
    padding: 10px;
    float: left;
}
aside {
    width: 260px;
    padding: 10px;
    float: left;
}    
footer {
    width: 260px;
    padding: 10px;
    float: left;
}